Repository 0xbrito/BitGoJS, changes with the owners that CODEOWNERS names for each.
All owners: @BitGo/sdk-team, @BitGo/btc-team, @BitGo/hsm, @BitGo/eth-team, @BitGo/coins, @BitGo/blockchain-integration

feat(sdk-rpc-wrapper): add send transaction
  modules/sdk-rpc-wrapper/src/evmRPCWrapper.ts
  modules/sdk-rpc-wrapper/src/types.ts
Owners: @BitGo/sdk-team

feat(utxo-ord): add support for additional inputs
  modules/utxo-ord/src/psbt.ts
  modules/utxo-ord/test/psbt.ts
Owners: @BitGo/sdk-team

feat(sdk-coin-atom): add staking transaction builders
  modules/sdk-coin-atom/src/atom.ts
  modules/sdk-coin-atom/src/lib/StakingActivateBuilder.ts
  modules/sdk-coin-atom/src/lib/StakingDeactivateBuilder.ts
  modules/sdk-coin-atom/src/lib/StakingWithdrawRewardsBuilder.ts
  modules/sdk-coin-atom/src/lib/constants.ts
  modules/sdk-coin-atom/src/lib/iface.ts
  modules/sdk-coin-atom/src/lib/transaction.ts
  modules/sdk-coin-atom/src/lib/transactionBuilder.ts
  modules/sdk-coin-atom/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-atom/src/lib/transferBuilder.ts
  modules/sdk-coin-atom/src/lib/utils.ts
  modules/sdk-coin-atom/test/unit/transactionBuilder/transferBuilder.ts
Owners: @BitGo/sdk-team

feat(utxo-lib): support psbt for musig2 partial sign
  modules/utxo-lib/src/bitgo/Musig2.ts
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/outputScripts.ts
  modules/utxo-lib/src/taproot.ts
  modules/utxo-lib/test/bitgo/psbt/P2trMusig2Psbt.ts
Owners: @BitGo/btc-team

feat(utxo-lib): code for psbt musig2 test is refactored
  modules/utxo-lib/test/bitgo/psbt/Musig2Psbt.ts
  modules/utxo-lib/test/bitgo/psbt/PsbtMusig2Util.ts
Owners: @BitGo/btc-team

feat(sdk-coin-polygon): support evm based cross chain recovery
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-coin-polygon/src/polygon.ts
Owners: @BitGo/eth-team, @BitGo/coins

chore: add inscription class
  modules/sdk-core/package.json
  modules/sdk-core/src/bitgo/inscription/iInscription.ts
  modules/sdk-core/src/bitgo/inscription/index.ts
  modules/sdk-core/src/bitgo/inscription/inscription.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/tsconfig.json
  tsconfig.packages.json
Owners: @BitGo/sdk-team

CODEOWNERS:

# BitGoJS code owners and first officers will automatically be requested for review whenever a pull request touches the files they own.
# Each line is a file pattern followed by one or more owners.

# These owners and first officers will be the default owners for everything in the repo.
*   @BitGo/sdk-team

# Order is important. The last matching pattern has the most precedence.

# UTXO coin modules
modules/abstract-utxo/ @BitGo/btc-team
modules/bitgo/test/v2/unit/coins/utxo/ @BitGo/btc-team
modules/bitgo/test/v2/unit/lightning.ts @BitGo/btc-team
modules/blockapis/ @BitGo/btc-team
modules/bls-dkg/ @BitGo/hsm
modules/sdk-coin-bch/ @BitGo/btc-team
modules/sdk-coin-bcha/ @BitGo/btc-team
modules/sdk-coin-bsv/ @BitGo/btc-team
modules/sdk-coin-btc/ @BitGo/btc-team
modules/sdk-coin-btg/ @BitGo/btc-team
modules/sdk-coin-dash/ @BitGo/btc-team
modules/sdk-coin-doge/ @BitGo/btc-team
modules/sdk-coin-ltc/ @BitGo/btc-team
modules/sdk-coin-zec/ @BitGo/btc-team
modules/sdk-core/src/bitgo/lightning/ @BitGo/btc-team
modules/unspents/ @BitGo/btc-team
modules/utxo-bin/ @BitGo/btc-team
modules/utxo-lib/ @BitGo/btc-team

# Eth
modules/account-lib/ @BitGo/eth-team
modules/sdk-coin-celo/ @BitGo/eth-team
modules/sdk-coin-etc/ @BitGo/eth-team
modules/sdk-coin-eth/ @BitGo/eth-team
modules/sdk-coin-eth2/ @BitGo/eth-team
modules/sdk-coin-rbtc/ @BitGo/eth-team
modules/bitgo/test/v2/unit/coins/staking/ @BitGo/eth-team
modules/bitgo/test/v2/unit/coins/token.ts @BitGo/eth-team

# All other coins
modules/sdk-coin-aca/ @BitGo/coins
modules/sdk-coin-ada/ @BitGo/coins
modules/sdk-coin-algo/ @BitGo/coins
modules/sdk-coin-avaxc/ @BitGo/coins
modules/sdk-coin-avaxp/ @BitGo/coins
modules/sdk-coin-bsc/ @BitGo/coins
modules/sdk-coin-cspr/ @BitGo/coins
modules/sdk-coin-dot/ @BitGo/coins
modules/sdk-coin-eos/ @BitGo/coins
modules/sdk-coin-hbar/ @BitGo/coins
modules/sdk-coin-near/ @BitGo/coins
modules/sdk-coin-polygon/ @BitGo/coins
modules/sdk-coin-sol/ @BitGo/blockchain-integration
modules/sdk-coin-stx/ @BitGo/coins
modules/sdk-coin-trx/ @BitGo/coins
modules/sdk-coin-xlm/ @BitGo/coins
modules/sdk-coin-xrp/ @BitGo/coins
modules/sdk-coin-xtz/ @BitGo/coins



# Core Modules
modules/bitgo/ @BitGo/sdk-team
modules/blake2b-wasm/ @BitGo/sdk-team
modules/blake2b/ @BitGo/sdk-team
modules/express/ @BitGo/sdk-team
modules/sdk-api/ @BitGo/sdk-team
modules/sdk-core/ @BitGo/sdk-team
modules/sdk-test/ @BitGo/sdk-team
modules/sjcl/ @BitGo/sdk-team
modules/statics/ @BitGo/sdk-team
modules/web-demo/ @BitGo/sdk-team
scripts/ @BitGo/sdk-team
types/ @BitGo/sdk-team
webpack/ @BitGo/sdk-team

.eslintrc.json @BitGo/sdk-team
.prettierrc.yml @BitGo/sdk-team
check-package-versions.js @BitGo/sdk-team
CODEOWNERS @BitGo/sdk-team
DEVELOPERS.md @BitGo/sdk-team
commitlint.config.js @BitGo/sdk-team
Dockerfile @BitGo/sdk-team
lerna.json @BitGo/sdk-team
package.json @BitGo/sdk-team
tsconfig.json @BitGo/sdk-team
tsconfig.packages.json @BitGo/sdk-team
